.ToolBar{
    Height:56px;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    display: flex;
    z-index: 90;
    padding:0 20px;
    box-sizing: border-box;
    background-color: #703B09;
}

.ToolBar nav{
    height: 100%;
}