.Form{
    margin: 7px 10px;
    padding: 12px 12px;
    border:2px solid #ccc;
    border-radius: 5px;
    background-color: rgb(238, 234, 234);
}

.Form > h4{
    text-align: center;
    margin-bottom: 30px;
}

.Form > form{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.Form > div{
    padding-left:35%;
    /* width: 100%;
    display: flex;   */
}

@media(max-width:500px){
    .Form{
        margin: auto;
        padding: 0px 12px;
    }
    .Form > h4{
        margin-bottom: 13px;
    }

    .Form > div{
        padding-left:20%;
        width: 100%;
        display: flex;  
    }
}