.NavItems{
    margin : 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type:none;
    flex-flow: column;
}

@media(min-width:500px){
    .NavItems{
        flex-flow: row;
    }
}